.home-div{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 3px 3px 4px black;
    width: 30%;
    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-div h1{
    margin: 2em;
}

.home-div input{
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    width: 75%;
    height: 4em;
    margin: 2.5px;
}
.home-div button {
    margin: 3em;
}