* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
.App {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: linear-gradient(290deg, #00c6e3 0%, #4e95f1 50.37%, #9966ff 100%);
    font-family: "Roboto", sans-serif;
  }